/*--Hover Stripe Animation Styling--*/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  background: #e5989bff;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 30px solid white;
}

a {
  font-size: 6em;
  font-weight: bold;
  font-family:'Raleway', sans-serif;
  text-decoration: none;

  position: relative;
  color: transparent;
  /*color order*/
  background-image: repeating-linear-gradient(45deg, #e5989bff 0px, #e5989bff 144px, #e5989bff 144px, #ffffff 288px, #ffffff 288px, #e5989bff 432px);
  background-size: 250%;
  background-position: 0%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: stripeAnimation 2s linear infinite;
  animation: stripeAnimation 2s linear infinite;
  animation-play-state: running;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

a:hover {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@keyframes stripeAnimation {
  100% {
    background-position: 165%;
  }
}

/*--Mirror Design--*/
#mirror {
  position: relative;
  background-color: #b5838dff;
  opacity: .6;
  top: 0px;
  left: 0px;
  width: 95vw;
  height: 90vh;
}

#MirrorText {
  text-align: center;
  padding-top: 40vh;
}
